/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hubballi', sans-serif;
    /*Generic project styles*/
    color: #2a2a2a;
}

h1,h2,h3 {
    font-family: 'Hubballi', sans-serif;
    font-weight: bold;
    font-size: larger;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 200px;
    background-color: white;
    font-family: 'Hubballi', sans-serif;
}



/* Logo */

     img {
       height: 200px;
       
     }



#menu {
    font-size: 100%;
    letter-spacing: 2px;
    color: #000000;
    
    
}
#menu > li {
    margin-bottom: 1em;
    list-style-type: none;
   
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #2a2a2a;
    display: none;
    top: 200px;
    z-index: 1000;
    list-style-type: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
    padding-top: 0.5rem;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }

header a{
    color:slategray;
    text-decoration: none;
}

/* Main content */

/*Introduction*/
#intro {
    padding: 2rem 1rem;
    text-align: left;
    font-size: 1rem;
    font-family: 'Hubballi', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Hubballi', sans-serif;
    text-align: center;
    border: 1rem;
    border-radius: 0.9;
    padding: 0.5rem;
    font-weight: bold;
}

p {
    font-size: 100%;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Hubballi', sans-serif;
    text-align: left;
    padding: 0.5rem

}

.vicky_potrait {
    display: flex;
    justify-self: center;
    height: 500px;
    width: 100%;
    padding: 1rem;
    border-radius: 10%;
}




/*Media Queries*/
/*Media queries: Tablets and larger (768px and up.)*/
@media screen and (min-width:768px) {
    /*Header*/
}



/*Media queries: Laptops & Desktops (992px and up.)*/
@media screen and (min-width:992px) {

    nav {
        display:block;
        position:static;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
        
    }
    
    #menu {
        display:flex;
        flex-direction: row;
         
    }
    
    #menu > li {
        padding-left:1rem;
        list-style-type: none;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}